<div id="ai1ec-box-skeleton" class="misc-pub-section timely">
	<label for="{{ id }}">
		<input class="ai1ec-checkbox-inline" type="checkbox" value="1" {{ checked }} name="{{ id }}" id="{{ id }}" {{ disabled }} />
		{{ title }}
	</label>
</div>
